@font-face {

    font-family: 'nasa';
    src: url('assets/Nasa.woff') format('woff'),
        url('assets/Nasa.ttf') format('truetype');

}

* {
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    width: 100% !important;
    height: 100% !important;
    background-color: #17182f;
}

canvas {
    display: block;
}



/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1 !important;
}


nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2 !important;
}

#loginTitle {

    text-align: center;
    display: block;
    margin: auto;
    padding-top: 150px;
    color: rgba(255, 0, 0, 0.8);
    font-family: 'nasa';
    font-size: 50px;
    z-index: 2 !important;

}

#nasa-icon {
    padding: 70px 0;
    margin: auto;
    padding-right: 40px;
    z-index: 3;
}


.main {
    z-index: 3;
}

.login-panel {
    display: flex;
    flex-direction: column;
    margin: auto !important;
}



.options {
    text-align: center;
    display: flex;
    margin: auto !important;
}

.option-register {
    margin-left: 100px;
    transition: all 0.5s linear;
    border-bottom: none;
    z-index: 3 !important
}

.option-login {
    transition: all 0.5s linear;
    border-bottom: none;
    z-index: 3 !important
}

.options>p {
    font-family: 'nasa';
    height: auto;
    font-size: 50px;
    color: rgba(255, 0, 0, 0.4);
    cursor: pointer !important;
    transition: all 0.5s linear;
}

.option-selected {
    border-bottom: 1px solid red !important;
    color: rgba(255, 0, 0, 0.8) !important;
    padding-bottom: 3px !important;
    transition: all 0.5s linear;
}

.login-panel p:hover {
    color: rgba(255, 0, 0, 0.8);
    transition: all 0.5s linear;
}

.background {
    width: 100%;
    height: auto;
    position: absolute;
    background-color: rgba(255, 0, 0, 0.4) !important;
    opacity: 0.4;
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@-webkit-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@-moz-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@-ms-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

@-webkit-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

@-moz-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

@-ms-keyframes move-clouds-back {
    from {
        background-position: 0;
    }

    to {
        background-position: 10000px 0;
    }
}

.stars,
.twinkling {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -2 !important;
}

.stars {
    background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
}

.twinkling {
    background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;


    -moz-animation: move-twink-back 200s linear infinite;
    -ms-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
}


.hidden {

    display: none !important;
}



/* login form */


form {
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    z-index: 3 !important
}


form input {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: red;
    padding: 10px;
    outline: none;
    border: none;
}


.sign {
    background-color: rgb(240, 46, 12, 0.5);
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    outline: none !important;
    border: none !important;

}

form input:not(:first-child) {

    margin-top: 10px;
}