<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         convertErrorsToExceptions="true"
         verbose="true">
    <testsuites>
        <testsuite name="Templates">
            <directory>./unit/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../server</directory>
            <exclude>
                <directory>../vendor</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>

